<%= image_tag( @pet.picture, :alt => @pet.name) %>

<ul class="collection">
  <li class="collection-item_stat valign-wrapper">
    <img src="/stats/user-name.svg" alt="" class="circle">
      <span class="title">Name:</span>
      <%= @pet.name %>
  </li>
  <li class="collection-item_stat valign-wrapper ">
    <img src="/stats/dog-in-front-of-a-man.svg" alt="" class="circle">
      <span class="title">Owner:</span>
      <%= @pet.user.name %>
  </li>
  <li class="collection-item_stat valign-wrapper">
    <img src="/stats/hearts-outline-icon.svg" alt="" class="circle">
      <span class="title">Happiness:</span>
      <%= @pet.happiness %>
  </li>
  <li class="collection-item_stat valign-wrapper">
        <img src="/stats/001-soap.svg" alt="" class="circle">
        <span class="title">Hygiene:</span>
        <%= @pet.hygiene %>
  </li>
  <li class="collection-item_stat valign-wrapper">
        <img src="/stats/002-turkey.svg" alt="" class="circle">
        <span class="title">Hunger:</span>
        <%= @pet.hunger %>
  </li>
  <li class="collection-item_stat valign-wrapper">
        <img src="/stats/brain-in-head.svg" alt="" class="circle">
        <span class="title">Personality:</span>
        <%= @pet.personality.pet_type %>
  </li>
  <li class="collection-item_stat valign-wrapper">
        <img src="/stats/003-two.svg" alt="" class="circle">
        <span class="title">Species:</span>
        <%= @pet.species.name %>
  </li>
</ul>

<p>Right now</p>
<%= @pet.display_happiness %> <br>
<%= @pet.display_hygiene %> <br>
<%= @pet.display_hunger %> <br>

<p>Story</p>
<div class="row right">
       <div class="col s12 m6">
         <div class="card blue-grey darken-1">
           <div class="card-content white-text">
             <ul>
             <% @pet.story.readable_history.each do |event| %>
             <li><%= "#{event.description} on #{event.event_time.localtime.strftime("%A, %d on %I:%M%p")}" %></li>
             <% end %>
             </ul>
           </div>
         </div>
       </div>
     </div>


<%= link_to "Take care of your pet", pet_care_path(@pet) %>
<p><%= link_to 'Logout', sessions_path, method: :delete, data: {confirm: 'Are you sure?'} %></p>

<%= link_to "User Page", user_path(@pet.user) %>
