<p>Name</p>
<%= @pet.name %>
<p>Owner</p>
<%= @pet.user %>
<p>Happiness</p>
<%= @pet.happiness %>
<p>Hygiene</p>
<%= @pet.hygiene %>
<p>Hunger</p>
<%= @pet.hunger %>
<p>Personality</p>
<%= @pet.personality %>
<p>Story</p>
<%= @pet.story %>
