<div class="center-align">
  <%= image_tag( @pet.picture, :alt => @pet.name, class: "circle")%>

</div>
<div role="main" class="main">



<div class="row">
<div class="col s6">
<ul class="collection">
  <li class="collection-item_stat valign-wrapper">
    <img src="/stats/user-name.svg" alt="" class="circle">
      <span class="title">Name:</span>
      <%= @pet.name %>
  </li>
  <li class="collection-item_stat valign-wrapper ">
    <img src="/stats/dog-in-front-of-a-man.svg" alt="" class="circle">
      <span class="title">Owner:</span>
      <%= @pet.user.name %>
  </li>
  <li class="collection-item_stat valign-wrapper">
    <img src="/stats/hearts-outline-icon.svg" alt="" class="circle">
      <span class="title">Happiness:</span>
      <%= @pet.happiness %>
  </li>
  <li class="collection-item_stat valign-wrapper">
        <img src="/stats/001-soap.svg" alt="" class="circle">
        <span class="title">Hygiene:</span>
        <%= @pet.hygiene %>
  </li>
  <li class="collection-item_stat valign-wrapper">
        <img src="/stats/002-turkey.svg" alt="" class="circle">
        <span class="title">Hunger:</span>
        <%= @pet.hunger %>
  </li>
  <li class="collection-item_stat valign-wrapper">
        <img src="/stats/brain-in-head.svg" alt="" class="circle">
        <span class="title">Personality:</span>
        <%= @pet.personality.pet_type %>
  </li>
  <li class="collection-item_stat valign-wrapper">
        <img src="/stats/003-two.svg" alt="" class="circle">
        <span class="title">Species:</span>
        <%= @pet.species.name %>
  </li>
</ul>

</div>



       <div class="col s6">
         <h1>History</h1>
         <div class="card light-green">
           <div class="card-content white-text ">
             <ul>
             <% @pet.story.readable_history.each do |event| %>
             <li><%= "#{event.description} on #{event.event_time.localtime.strftime("%A, %d on %I:%M%p")}" %></li>
             <% end %>
             </ul>
           </div>
         </div>
         <h1>Right Now</h1>

         <div class="collection">


        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">#</i></a>
        <font size=5> <%= @pet.display_happiness %> </font><br>
        <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">#</i></a>
        <font size=5> <%= @pet.display_hygiene %> </font><br>
        <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">#</i></a>
        <font size=5> <%= @pet.display_hunger %> </font><br>

        </div>
      </div>



 </div>

<%= link_to "Take care of your pet", pet_care_path(@pet) %>
<p><%= link_to 'Logout', sessions_path, method: :delete, data: {confirm: 'Are you sure?'} %></p>

<%= link_to "User Page", user_path(@pet.user) %>
</div>
