<p>Name</p>
<%= @pet.name %>
<p>Owner</p>
<%= @pet.user %>
<p>Happiness</p>
<%= @pet.happiness %>
<p>Hygiene</p>
<%= @pet.hygiene %>
<p>Hunger</p>
<%= @pet.hunger %>
<p>Story</p>
<p>Coming Soon (making a pet doesn't yet make their story)</p>
