<p>Name</p>
<%= @pet.name %>
<p>Owner</p>
<%= @pet.user.name %>

<p>Right now</p>
<%= @pet.display_happiness %> <br>
<%= @pet.display_hygiene %> <br>
<%= @pet.display_hunger %> <br>


<p>Happiness</p>
<%= @pet.happiness %>
<p>Hygiene</p>
<%= @pet.hygiene %>
<p>Hunger</p>
<%= @pet.hunger %>
<p>Personality</p>

<%= @pet.personality.pet_type %>
<p>Story</p>
<ul>
<% @pet.story.show_history.reverse.each do |event| %>
<li><%= event %></li>
<% end %>
</ul>

<%= link_to "Take care of your pet", pet_care_path(@pet) %>
